RewriteEngine on

# check if doesn't exist a file related to the path. If the condition is met, the next line is executed
RewriteCond %{REQUEST_FILENAME} !-f

# check if doesn't exist a directory related to the path. If the condition is met, the next line is executed
RewriteCond %{REQUEST_FILENAME} !-d

# redirect to index.php
RewriteRule ^.*$ /index.php [L]


# check if connection is http. If the condition is met, the next line is executed
RewriteCond %{HTTPS} off

# redirect http to https with status code 301 (Moved Permanently)
RewriteRule ^(.*)$ https://localhost/$1 [L,R=301]


# Error 403 (Forbidden) redirect to /errors/403.html
ErrorDocument 403 /errors/403.html